---
layout: page
title: "About"
description: "「自傷無色」"
header-img: "img/about_me.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


<!-- disqus 评论框 start -->
<!-- div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
< disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<!-- script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
< disqus 公共JS代码 end -->

<!-- twikoo 评论框 start -->
<div class="comment">
    <div id="tcomment"></div>
</div>
<!-- twikoo 评论框 end -->

<!-- twikoo 公共JS代码 start (一个网页只需插入一次) -->
<script src="https://s4.zstatic.net/ajax/libs/twikoo/1.6.38/twikoo.all.min.js" integrity="sha384-iwCuZOQXH9C9J67oqn6gT5NKj9GRVo/CY8N3mOGk1Vr4aIiAgme2gXTh7QGagg3B" crossorigin="anonymous"></script>
<script>
twikoo.init({
  envId: 'https://moguo-twikoo.juicyapplepie.xyz/', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
  el: '#tcomment', // 容器元素
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
  // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
  // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/twikoojs/twikoo/blob/main/src/client/utils/i18n/index.js
})
</script>
<!-- twikoo 公共JS代码 end -->
